## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [3]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(app_type_counts[app_type_counts < 50].index)
print(application_types_to_replace)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

['T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_one = classification_counts[classification_counts > 1]
print(classification_counts_greater_than_one)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 100].index)
print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

['C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
# create a list of columns to encode
cat_cols = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# use pd.get_dummies to encode categorical variables
encoded_df = pd.get_dummies(application_df, columns=cat_cols)
encoded_df.shape

(34299, 52)

In [10]:
# Split our preprocessed data into our features and target arrays
X = encoded_df.drop("IS_SUCCESSFUL", axis=1).values
y = encoded_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = Sequential()

# First hidden layer
nn.add(Dense(units=80, activation='relu', input_dim=51))

# Add 6 additional hidden layers
for i in range(6):
    nn.add(Dense(units=50, activation='relu'))

# Last hidden layer
nn.add(Dense(units=30, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4160

 dense_1 (Dense)             (None, 50)                4050

 dense_2 (Dense)             (None, 50)                2550

 dense_3 (Dense)             (None, 50)                2550

 dense_4 (Dense)             (None, 50)                2550

 dense_5 (Dense)             (None, 50)                2550

 dense_6 (Dense)             (None, 50)                2550

 dense_7 (Dense)             (None, 30)                1530

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 22,521
Trainable params: 22,521
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
from tensorflow.keras.optimizers import SGD

sgd = SGD(learning_rate=0.1)

nn.compile(loss='binary_crossentropy', optimizer=sgd, metrics=['accuracy'])


# Define the checkpoint path and filename
checkpoint_path = "model_weights/checkpoint_weights.{epoch:02d}.h5"

# Create a callback that saves the model's weights every five epochs
checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_path,
    save_weights_only=True,
    save_freq=5 * len(X_train_scaled),
    verbose=1)

# Train the model with the checkpoint callback
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint_callback])

Epoch 1/100
804/804 [==============================] - 7s 6ms/step - loss: 0.5838 - accuracy: 0.7073
Epoch 2/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5558 - accuracy: 0.7281
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5513 - accuracy: 0.7290
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7305
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5478 - accuracy: 0.7320
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5466 - accuracy: 0.7297
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7317
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7322
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7333
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7344
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7358
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7349
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7340
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7356
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5404 - accuracy: 0.7358
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5404 - accuracy: 0.7350
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7370
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7357
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7361
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7367
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5388 - accuracy: 0.7354
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7371
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7370
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7377
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7371
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7383
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7365
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7372
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7377
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7387
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7381
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5361 - accuracy: 0.7378
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7377
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7385
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7381
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7385
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7384
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7398
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7387
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7401
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7394
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7387
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7392
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7386
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7402
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7393
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5339 - accuracy: 0.7386
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7403
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7405
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7400
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7406
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5334 - accuracy: 0.7392
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7394
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7397
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7395
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7396
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7410
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5323 - accuracy: 0.7406
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7407
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7411
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7403
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7392
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5323 - accuracy: 0.7405
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7408
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7400
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7408
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7382
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7398
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7391
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7398
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7401
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7408
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5317 - accuracy: 0.7397
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7401
Epoch 80/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5318 - accuracy: 0.7411
Epoch 81/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5312 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5314 - accuracy: 0.7404
Epoch 83/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5315 - accuracy: 0.7404
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7392
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5332 - accuracy: 0.7395
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7408
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7400
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7403
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7397
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7413
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7418
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7409
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7412
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5308 - accuracy: 0.7407
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7409
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7407
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5303 - accuracy: 0.7415
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7411

In [15]:
# Evaluate the model using the test data
evaluation = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {evaluation[0]}, Accuracy: {evaluation[1]}")

268/268 - 1s - loss: 0.5599 - accuracy: 0.7300 - 895ms/epoch - 3ms/step
Loss: 0.5599400997161865, Accuracy: 0.7300291657447815

In [16]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityOptimised.h5")

In [17]:
import os
print(os.getcwd())

/content